body {
    padding: 10px;
    margin: 0;

}

.body_container {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.clear {
    clear: both;
}

.green {
    background-color: #27ae60;
}

.blue {
  background-color: #2980b9;
}
.red {
  background-color: #e74c3c;
}

.promotional {
  bottom: 10px;
  position: absolute;
  background-color: #27ae60;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.promotional h3 {
  text-align: center;
  font-size: 14px;
}

.box {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

ul {

}

li{
  padding: 5px;
  margin: 20px;
  list-style: none;

}

li #name {

}

li #message {
  padding: 10px;
  border: 0.5px solid #bdc3c7  ;
  background-color: #ecf0f1;
  border-radius: 10px;
}

li #meMessage {
  padding: 10px;
  border: 0.5px solid #bdc3c7  ;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 10px;
}



#header {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

#login-header-div{
  padding: 50px 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

#footer-div-chat {

  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

#footer-div-chat h1 {
  margin: 20px;
  text-align: left;
}

#footer-div-chat p {
  text-align: left;
  margin: 20px;
  color: gray;
  font-size: 14px;
}


#login-header-div h1{
  color: black;
  font-size: 24px;
}


#login-header-div h3 {
  color: gray;
  font-size: 14px;
}

#header h1 {

}
#header h3 {
  color: gray;
  font-size: 14px;
}

#message-send-box{

}

#btn_send {
  margin-left: 10px;
}

#messages {
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.input-group {
  padding: 10px;
}

/* #header p.online_count {
    font-size: 18px;
    display: none;
}

.box_shadow {
    background: #f3f4f6;
    padding: 50px;
    border: 1px solid #e4e4e4;
    -moz-box-shadow: 0px 0px 2px 1px #e5e5e5;
    -webkit-box-shadow: 0px 0px 2px 1px #e5e5e5;
    box-shadow: 0px 0px 2px 1px #e5e5e5;
}

#prompt_name_container {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

#prompt_name_container p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

#prompt_name_container #input_name {
    border: 1px solid #dddddd;
    padding: 10px;
    width: 250px;
    display: block;
    margin: 0 auto;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

#prompt_name_container #btn_login {
    border: none;
    width: 100px;
    display: block;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #96be0e;
    font-size: 18px;
    padding: 5px 20px;
    margin: 15px auto;
    cursor: pointer;
}

#message_container {
    display: none;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 15px 0 0 0;
}

#messages {
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

#messages li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
}

#messages li.new,#messages li.exit {
    font-style: italic;
    color: #bbbbbb;
}

#messages li span.name {
    color: #8aaf0d;
}

#messages li span.red {
    color: #e94e59;
}

#input_message_container {
    margin: 40px 20px 0 20px;
}

#input_message {
    background: #f0f0f0;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding: 10px;
    float: left;
    margin: 0;
    width: 348px;
}

#btn_send {
    float: left;
    margin: 0;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: #96be0e;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#btn_close {
    margin: 0;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: #e94e59;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    margin: 30px 0 0 0;
} */
