body {
    padding: 10px;
    margin: 0;

}

.body_container {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.clear {
    clear: both;
}

.green {
    background-color: #27ae60;
}

.blue {
  background-color: #2980b9;
}
.red {
  background-color: #e74c3c;
}

.promotional {
  bottom: 10px;
  position: absolute;
  background-color: #27ae60;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.promotional h3 {
  text-align: center;
  font-size: 14px;
}

.box {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}


li{
  padding: 5px;
  margin: 20px;
  list-style: none;

}

li #name {

}

li #message {
  padding: 10px;
  border: 0.5px solid #bdc3c7  ;
  background-color: #ecf0f1;
  border-radius: 10px;
}

li #meMessage {
  padding: 10px;
  border: 0.5px solid #bdc3c7  ;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 10px;
}

#login-header-div{
  padding: 50px 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

#footer-div-chat {

  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

#footer-div-chat h1 {
  margin: 20px;
  text-align: left;
}

#footer-div-chat p {
  text-align: left;
  margin: 20px;
  color: gray;
  font-size: 14px;
}


#login-header-div h1{
  color: black;
  font-size: 24px;
}


#login-header-div h3 {
  color: gray;
  font-size: 14px;
}

#login-header-div h4 {
    color: gray;
    font-size: 12px;
  }


#header h3 {
  color: gray;
  font-size: 14px;
}

#message-send-box{

}

#btn_send {
  margin-left: 10px;
}

#messages {
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.input-group {
  padding: 10px;
}
